<div class="container">
  <h2 class="text-center">Lista de Contactos</h2>
  <button class="btn btn-primary mb-3" routerLink="/crud/add">Nuevo Contacto</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.nombre }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm me-3" (click)="deleteContact(contact.id)">Eliminar</button>
          <button type="button" class="btn btn-info btn-sm" [routerLink]="['/crud/edit', contact.id]">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center mt-4">
    <nav *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="changePage(currentPage - 1)">Anterior</a>
        </li>
        <li *ngFor="let page of pagesToShow()" class="page-item" [class.active]="page === currentPage">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="changePage(currentPage + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
